CREATE DATABASE [InvoiceSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InvoiceSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.GOPINATH\MSSQL\DATA\InvoiceSystem.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'InvoiceSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.GOPINATH\MSSQL\DATA\InvoiceSystem_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [InvoiceSystem]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [InvoiceSystem] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
